.game-grid {
	width: 460px;
	height: 400px;
	margin: 0 auto;
}

	.row {
		width: 460px;
		height: 80px;
	}

		.column {
			width: 80px;
			height: 80px;
			display: inline-block;
		}

		.column:hover {
			background-color: #507E76;
			color: #EEE;
		}

			.column p {
				font-size: 1.5em;
				margin: 0 auto;
				text-align: center;
				vertical-align: middle;
				line-height: 80px;
			}

		.box-disable {
			background-color: #10423A;
		}

		.box-selected {
			background-color: #10423A;
			color: #FFF;
		}

.step-counter {
	margin-top: 100px;
	text-align: center;
}

	.step-counter ul {
		list-style-type: none;
	}

		.step-counter ul li {
			width: 25px;
			height: 25px;
			font-size: 1.2em;
			line-height: 25px;
			display: inline-block;
		}

		.step-counter ul .selected {
			background-color: #10423A;
			color: #FFF;
			border-radius: 50%;
		}

.jump-counter {
	margin-top: 50px;
	text-align: center;
}

	.jump-counter ul {
		list-style-type: none;
	}

		.jump-counter ul li {
			width: 25px;
			height: 25px;
			font-size: 1.2em;
			line-height: 25px;
			display: inline-block;
		}

		.jump-counter ul .selected {
			background-color: #10423A;
			color: #FFF;
			border-radius: 50%;
		}