* { transition: all .25s ease; }

html, body {
	height: 100%;
}

/* Animation Effects */

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes rollOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0.5;
		/* -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
		transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg); */
		-webkit-transform: rotate3d(0, 0, 1, 360deg);
		transform: rotate3d(0, 0, 1, 360deg);
	}
}

@keyframes rollOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0.5;
		/* -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
		transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg); */
		-webkit-transform: rotate3d(0, 0, 1, 360deg);
		transform: rotate3d(0, 0, 1, 360deg);
	}
}

.rollOut {
	-webkit-animation-name: rollOut;
	animation-name: rollOut;
}

/* Game Styles */

.game-win {
	visibility: hidden;
	width: 100%;
	height: 100%;
	opacity: 0.9;
    background-color: #000;
    position: fixed;
    top: 0px; left: 0px;
    z-index: 100;
}

	.game-win h1 {
		opacity: 0;
		color: #FFF;
	}

		.game-win h1 a {
			text-decoration: none;
		}

.game-lose {
	visibility: hidden;
	width: 100%;
	height: 100%;
	opacity: 0.9;
    background-color: #000;
    position: fixed;
    top: 0px; left: 0px;
    z-index: 100;
}

	.game-lose h1 {
		opacity: 0;
		color: #FFF;
	}

		.game-lose h1 a {
			text-decoration: none;
		}

.game-grid {
	width: inherit;
	height: 400px;
	margin: 0 auto;
	text-align: center;
}

	.row {
		width: inherit;
		height: 80px;
		margin: 0 auto;
		text-align: center;
	}

		.column {
			width: 80px;
			height: 80px;
			margin: 0 auto;
			display: inline-block;
		}

			.column p {
				font-size: 1.5em;
				margin: 0 auto;
				text-align: center;
				vertical-align: middle;
				line-height: 80px;
			}

		.num-box {
			-moz-transition: all .25s ease;
		}

		.num-box:hover {
			background-color: #507E76;
			color: #EEE;
			-moz-transition: all .25s ease;
		}

		.num-box:active {
			position: relative;
			top: 2px; left: 2px;
		}

		.box-disable {
			background-color: #10423A;
		}

		.box-selected {
			background-color: #10423A;
			color: #FFF;
		}

.step-counter {
	text-align: center;
}

	.step-counter ul {
		list-style-type: none;
	}

		.step-counter ul li {
			width: 25px;
			height: 25px;
			font-size: 1.2em;
			line-height: 25px;
			display: inline-block;
		}

		.step-counter ul .selected {
			background-color: #10423A;
			color: #FFF;
			border-radius: 50%;
		}

.jump-counter {
	margin-top: 50px;
	text-align: center;
}

	.jump-counter ul {
		list-style-type: none;
	}

		.jump-counter ul li {
			width: 25px;
			height: 25px;
			font-size: 1.2em;
			line-height: 25px;
			display: inline-block;
		}

		.jump-counter ul .selected {
			background-color: #10423A;
			color: #FFF;
			border-radius: 50%;
		}

footer {
	margin-top: 50px;
	width: 100%;
	height: 2.4em;
	background-color: #EEE;
	border-top: 1px solid #DDD;
}

	footer .copyright {
		text-align: center;
		line-height: 2.4em;
	}

		footer .copyright span {
			font-size: .8em;
			color: #555;
		}

/* Media Queries */

@media only screen and (max-width: 480px) {

    .game-grid {
        width: 240px;
    }

	    .row {
			width: 240px;
			height: 50px;
		}

			.column {
				width: 40px;
				height: 40px;
			}

				.column p {
					font-size: 1.2em;
					line-height: 40px;
				}

}